In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_data = "IMDB movies.csv"
movie_df = pd.read_csv(movie_data)

C:\Users\leann\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
del movie_df["title"]
del movie_df["Unnamed: 22"]
del movie_df["Over budget"]
movie_df['country'] = movie_df['country'].str.split(',').str[0]
movie_df['genre'] = movie_df['genre'].str.split(',').str[0]
movie_df.head()

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0078868,Bizalom,1980,10/01/1980,Drama,105,Hungary,Hungarian,István Szabó,"István Szabó, István Szabó",...,"Ildikó Bánsági, Péter Andorai, Oszkárné Gombik...",During WW2 Hungarian resistance hides a marrie...,7.6,607,NaN,NaN,$1,NaN,7.0,8.0
1,tt0041452,The Heiress,1949,23/11/1950,Drama,115,USA,"English, French",William Wyler,"Ruth Goetz, Augustus Goetz",...,"Olivia de Havilland, Montgomery Clift, Ralph R...",A young naive woman falls for a handsome young...,8.1,13301,"$2,600,000",NaN,$16,NaN,140.0,61.0
2,tt3686990,Camino a La Paz,2015,7/01/2016,Drama,92,Argentina,Spanish,Francisco Varone,Francisco Varone,...,"Rodrigo De la Serna, Ernesto Suarez, Elisa Car...",ROAD TO LA PAZ is an unexpected and endearing ...,7.0,625,"$650,000",NaN,$17,NaN,1.0,20.0
3,tt1581839,Zombie Undead,2010,15/01/2010,Horror,79,UK,English,Rhys Davies,Kris Tearse,...,"Ruth King, Kris Tearse, Barry Thomas, Christop...",A car roars through the darkened country roads...,2.3,436,NaN,NaN,$17,NaN,19.0,20.0
4,tt0379587,Wo he ba ba,2003,24/02/2005,Drama,100,China,Mandarin,Jinglei Xu,Jinglei Xu,...,"Jinglei Xu, Daying Ye, Kun Hu, Wen Jiang, Qiu ...","After Xiao Yu's mother died in an accident, sh...",6.8,157,NaN,NaN,$20,NaN,3.0,NaN

In [6]:
filtered_df = movie_df.loc[(movie_df["country"] == "USA") | (movie_df["country"] == "Australia") | (movie_df["country"] == "UK") 
                          | (movie_df["country"] == "New Zealand")]
filtered_df.head()

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
1,tt0041452,The Heiress,1949,23/11/1950,Drama,115,USA,"English, French",William Wyler,"Ruth Goetz, Augustus Goetz",...,"Olivia de Havilland, Montgomery Clift, Ralph R...",A young naive woman falls for a handsome young...,8.1,13301,"$2,600,000",NaN,$16,NaN,140.0,61.0
3,tt1581839,Zombie Undead,2010,15/01/2010,Horror,79,UK,English,Rhys Davies,Kris Tearse,...,"Ruth King, Kris Tearse, Barry Thomas, Christop...",A car roars through the darkened country roads...,2.3,436,NaN,NaN,$17,NaN,19.0,20.0
8,tt0429277,Zyzzyx Rd,2006,24/02/2006,Crime,90,USA,English,John Penney,John Penney,...,"Leo Grillo, Katherine Heigl, Tom Sizemore, Ric...",The family man accountant Grant travels to Las...,4.1,983,"$2,000,000",$30,$30,NaN,11.0,2.0
9,tt0932669,Older Than America,2008,9/02/2012,Drama,102,USA,English,Georgina Lightning,"Georgina Lightning, Christine K. Walker",...,"Adam Beach, Tantoo Cardinal, Bradley Cooper, G...",A woman's haunting visions reveal a Catholic p...,5.3,857,"$1,000,000",NaN,$32,NaN,24.0,6.0
11,tt4460624,The Marker,2017,29/09/2017,Crime,80,UK,English,Justin Edgar,Justin Edgar,...,"Frederick Schmidt, Ana Ularu, John Hannah, Cat...",Noir thriller about a criminal seeking redempt...,5.4,279,750000,NaN,$37,NaN,3.0,5.0

In [9]:
final_df = filtered_df[['original_title', "year", "genre", "duration", "country", "director", "writer", "actors", "description"
                       , "avg_vote"]]
final_df

,original_title,year,genre,duration,country,director,writer,actors,description,avg_vote
1,The Heiress,1949,Drama,115,USA,William Wyler,"Ruth Goetz, Augustus Goetz","Olivia de Havilland, Montgomery Clift, Ralph R...",A young naive woman falls for a handsome young...,8.1
3,Zombie Undead,2010,Horror,79,UK,Rhys Davies,Kris Tearse,"Ruth King, Kris Tearse, Barry Thomas, Christop...",A car roars through the darkened country roads...,2.3
8,Zyzzyx Rd,2006,Crime,90,USA,John Penney,John Penney,"Leo Grillo, Katherine Heigl, Tom Sizemore, Ric...",The family man accountant Grant travels to Las...,4.1
9,Older Than America,2008,Drama,102,USA,Georgina Lightning,"Georgina Lightning, Christine K. Walker","Adam Beach, Tantoo Cardinal, Bradley Cooper, G...",A woman's haunting visions reveal a Catholic p...,5.3
11,The Marker,2017,Crime,80,UK,Justin Edgar,Justin Edgar,"Frederick Schmidt, Ana Ularu, John Hannah, Cat...",Noir thriller about a criminal seeking redempt...,5.4
...,...,...,...,...,...,...,...,...,...,...
85825,Browncoats: Independence War,2015,Action,98,USA,Francis Hamada,Francis Hamada,"Beth Bemis, Richard Martinsen, Will James John...","A group of soldiers, on the last day of a War,...",1.1
85828,A Moment of Youth,2011,Adventure,143,USA,"Matthew C. Anderson, Nicola Barbour",NaN,"Isaac Bonillo Alcaina, Gustavo Dettler, Yohann...",A moment of youth is a short film compilation ...,1.1
85832,The Time Machine (I Found at a Yardsale),2011,Sci-Fi,84,USA,Steven A. Sandt,Steven A. Sandt,"George Abdelmalak, Steven Ronald Brattman, Eli...",Robert Moore [Johnny James Gatyas] buys a box ...,1.1
85833,Roofied,2017,Drama,61,UK,"Ronnie Henry, Sammie Lei",Sammie Lei,"Sammie Lei, Mark Kempster, Manny Hayre, Christ...","Lucy and Dean are a match made in hell, but wh...",1.1
85837,Troy: The Resurrection of Aeneas,2018,Animation,60,USA,Aeneas Middleton,"Publius Vergilius Maro, Aeneas Middleton","Aeneas Middleton, Hardley Davidson",The Journey of Aeneas after the Trojan War. Ba...,1.1

In [12]:
final_df.to_csv("database.csv", encoding="utf-8", index=False, header=True)

In [20]:
title_df = final_df["original_title"]
print_df = pd.DataFrame(title_df)
print_df

                                 original_title
1                                   The Heiress
3                                 Zombie Undead
8                                     Zyzzyx Rd
9                            Older Than America
11                                   The Marker
...                                         ...
85825              Browncoats: Independence War
85828                         A Moment of Youth
85832  The Time Machine (I Found at a Yardsale)
85833                                   Roofied
85837          Troy: The Resurrection of Aeneas

[37934 rows x 1 columns]

In [21]:
print_df.to_csv("titles.csv", encoding="utf-8", index=False, header=True)