This file is transforming the main file into different csv to be used during the analysis.

In [1]:
import pandas as pd
import numpy as np

In [3]:
movie_data = "IMDB movies.csv"

movie_df = pd.read_csv(movie_data)
movie_df

C:\Users\leann\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Unnamed: 22,Over budget
0,tt0078868,Bizalom,Bizalom,1980,10/01/1980,Drama,105,Hungary,Hungarian,István Szabó,...,7.6,607,NaN,NaN,$1,NaN,7.0,8.0,NaN,NaN
1,tt0041452,L'ereditiera,The Heiress,1949,23/11/1950,"Drama, Romance",115,USA,"English, French",William Wyler,...,8.1,13301,"$2,600,000",NaN,$16,NaN,140.0,61.0,NaN,NaN
2,tt3686990,Camino a La Paz,Camino a La Paz,2015,7/01/2016,Drama,92,"Argentina, Netherlands, Germany",Spanish,Francisco Varone,...,7.0,625,"$650,000",NaN,$17,NaN,1.0,20.0,NaN,NaN
3,tt1581839,Zombie Undead,Zombie Undead,2010,15/01/2010,Horror,79,UK,English,Rhys Davies,...,2.3,436,NaN,NaN,$17,NaN,19.0,20.0,NaN,NaN
4,tt0379587,Wo he ba ba,Wo he ba ba,2003,24/02/2005,Drama,100,China,Mandarin,Jinglei Xu,...,6.8,157,NaN,NaN,$20,NaN,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85848,tt6021902,Death Forest 4,Death Forest 4,2016,3/05/2016,Horror,70,Japan,Japanese,Yasutake Torii,...,1.0,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85849,tt3262718,"Bai bai, marâno","Bai bai, marâno",2013,8/07/2013,Drama,114,Japan,Japanese,Yunsu Kim,...,1.0,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85850,tt5874352,Utsuroi no hyôhonbako,Utsuroi no hyôhonbako,2016,29/10/2016,Comedy,95,Japan,Japanese,Keiko Tsuruoka,...,1.0,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85851,tt4837074,Ritoru Kyouta no bouken,Ritoru Kyouta no bouken,2017,1/04/2017,Adventure,82,Japan,Japanese,Satsuki Okawa,...,1.0,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85852,tt1244614,Prema Panjaram,Prema Panjaram,1991,1991,"Drama, Family",138,India,Telugu,Ramana Reddy B.V.,...,1.0,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
del movie_df["title"]
del movie_df["Unnamed: 22"]
del movie_df["Over budget"]
movie_df.head()

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0078868,Bizalom,1980,10/01/1980,Drama,105,Hungary,Hungarian,István Szabó,"István Szabó, István Szabó",...,"Ildikó Bánsági, Péter Andorai, Oszkárné Gombik...",During WW2 Hungarian resistance hides a marrie...,7.6,607,NaN,NaN,$1,NaN,7.0,8.0
1,tt0041452,The Heiress,1949,23/11/1950,"Drama, Romance",115,USA,"English, French",William Wyler,"Ruth Goetz, Augustus Goetz",...,"Olivia de Havilland, Montgomery Clift, Ralph R...",A young naive woman falls for a handsome young...,8.1,13301,"$2,600,000",NaN,$16,NaN,140.0,61.0
2,tt3686990,Camino a La Paz,2015,7/01/2016,Drama,92,"Argentina, Netherlands, Germany",Spanish,Francisco Varone,Francisco Varone,...,"Rodrigo De la Serna, Ernesto Suarez, Elisa Car...",ROAD TO LA PAZ is an unexpected and endearing ...,7.0,625,"$650,000",NaN,$17,NaN,1.0,20.0
3,tt1581839,Zombie Undead,2010,15/01/2010,Horror,79,UK,English,Rhys Davies,Kris Tearse,...,"Ruth King, Kris Tearse, Barry Thomas, Christop...",A car roars through the darkened country roads...,2.3,436,NaN,NaN,$17,NaN,19.0,20.0
4,tt0379587,Wo he ba ba,2003,24/02/2005,Drama,100,China,Mandarin,Jinglei Xu,Jinglei Xu,...,"Jinglei Xu, Daying Ye, Kun Hu, Wen Jiang, Qiu ...","After Xiao Yu's mother died in an accident, sh...",6.8,157,NaN,NaN,$20,NaN,3.0,NaN

In [5]:
movie_df['country'] = movie_df['country'].str.split(',').str[0]
movie_df.tail()

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85848,tt6021902,Death Forest 4,2016,3/05/2016,Horror,70,Japan,Japanese,Yasutake Torii,"Kazz, Satoshi Okonogi",...,"Cyborg Kaori, Daijiro Kawaoka",They took a bad turn when they took the short ...,1.0,204,NaN,NaN,NaN,NaN,NaN,NaN
85849,tt3262718,"Bai bai, marâno",2013,8/07/2013,Drama,114,Japan,Japanese,Yunsu Kim,Yunsu Kim,...,"Yumiko Hara, Sujin Lee, Gyô Miyamoto, Shû Naka...",NaN,1.0,193,NaN,NaN,NaN,NaN,NaN,NaN
85850,tt5874352,Utsuroi no hyôhonbako,2016,29/10/2016,Comedy,95,Japan,Japanese,Keiko Tsuruoka,Keiko Tsuruoka,...,"Mone Sakuragi, Gen Ogawa, Moeru Akazome, Kôsuk...",A women challenges herself to do more and over...,1.0,176,NaN,NaN,NaN,NaN,NaN,NaN
85851,tt4837074,Ritoru Kyouta no bouken,2017,1/04/2017,Adventure,82,Japan,Japanese,Satsuki Okawa,Satsuki Okawa,...,"Tao Tsuchiya, Misa Shimizu, Hidekazu Mashima, ...",NaN,1.0,144,NaN,NaN,NaN,NaN,NaN,NaN
85852,tt1244614,Prema Panjaram,1991,1991,"Drama, Family",138,India,Telugu,Ramana Reddy B.V.,"Ramana Reddy B.V., Gopalakrishna Paruchuri",...,"Mohan Babu, Brahmanandam, Harish, Madhubala, G...",NaN,1.0,107,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
movie_df['genre'] = movie_df['genre'].str.split(',').str[0]
movie_df.tail()

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85848,tt6021902,Death Forest 4,2016,3/05/2016,Horror,70,Japan,Japanese,Yasutake Torii,"Kazz, Satoshi Okonogi",...,"Cyborg Kaori, Daijiro Kawaoka",They took a bad turn when they took the short ...,1.0,204,NaN,NaN,NaN,NaN,NaN,NaN
85849,tt3262718,"Bai bai, marâno",2013,8/07/2013,Drama,114,Japan,Japanese,Yunsu Kim,Yunsu Kim,...,"Yumiko Hara, Sujin Lee, Gyô Miyamoto, Shû Naka...",NaN,1.0,193,NaN,NaN,NaN,NaN,NaN,NaN
85850,tt5874352,Utsuroi no hyôhonbako,2016,29/10/2016,Comedy,95,Japan,Japanese,Keiko Tsuruoka,Keiko Tsuruoka,...,"Mone Sakuragi, Gen Ogawa, Moeru Akazome, Kôsuk...",A women challenges herself to do more and over...,1.0,176,NaN,NaN,NaN,NaN,NaN,NaN
85851,tt4837074,Ritoru Kyouta no bouken,2017,1/04/2017,Adventure,82,Japan,Japanese,Satsuki Okawa,Satsuki Okawa,...,"Tao Tsuchiya, Misa Shimizu, Hidekazu Mashima, ...",NaN,1.0,144,NaN,NaN,NaN,NaN,NaN,NaN
85852,tt1244614,Prema Panjaram,1991,1991,Drama,138,India,Telugu,Ramana Reddy B.V.,"Ramana Reddy B.V., Gopalakrishna Paruchuri",...,"Mohan Babu, Brahmanandam, Harish, Madhubala, G...",NaN,1.0,107,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
first_movie_df = movie_df[["country", "original_title", "year", "genre","votes","avg_vote"]]
first_movie_df

         country           original_title  year      genre  votes  avg_vote
0        Hungary                  Bizalom  1980      Drama    607       7.6
1            USA              The Heiress  1949      Drama  13301       8.1
2      Argentina          Camino a La Paz  2015      Drama    625       7.0
3             UK            Zombie Undead  2010     Horror    436       2.3
4          China              Wo he ba ba  2003      Drama    157       6.8
...          ...                      ...   ...        ...    ...       ...
85848      Japan           Death Forest 4  2016     Horror    204       1.0
85849      Japan          Bai bai, marâno  2013      Drama    193       1.0
85850      Japan    Utsuroi no hyôhonbako  2016     Comedy    176       1.0
85851      Japan  Ritoru Kyouta no bouken  2017  Adventure    144       1.0
85852      India           Prema Panjaram  1991      Drama    107       1.0

[85853 rows x 6 columns]

In [13]:
filtered_df = first_movie_df.loc[first_movie_df["votes"] >= 2000]
filtered_df = filtered_df.sort_values("avg_vote", ascending=False)
filtered_df = filtered_df.loc[filtered_df["country"] == "USA"]
filtered_df.head(10)

,country,original_title,year,genre,votes,avg_vote
26919,USA,The Shawshank Redemption,1994,Drama,2278845,9.3
30328,USA,The Godfather,1972,Crime,1572674,9.2
28088,USA,The Godfather: Part II,1974,Crime,1098714,9.0
30909,USA,The Dark Knight,2008,Action,2241615,9.0
184,USA,12 Angry Men,1957,Crime,668473,8.9
30512,USA,Schindler's List,1993,Biography,1183248,8.9
30241,USA,Pulp Fiction,1994,Crime,1780147,8.9
30882,USA,Inception,2010,Action,2002816,8.8
31088,USA,Kill Bill: The Whole Bloody Affair,2011,Action,5332,8.8
31087,USA,Graves End,2005,Thriller,6494,8.8

In [20]:
filtered_df.to_csv("graph1-highest_rated.csv", encoding="utf-8", index=False, header=True)