In [10]:
import pandas as pd
import numpy as np

In [11]:
movie_data = "IMDB movies.csv"
movie_df = pd.read_csv(movie_data)
del movie_df["title"]
del movie_df["Unnamed: 22"]
del movie_df["Over budget"]
movie_df.head()
movie_df['country'] = movie_df['country'].str.split(',').str[0]
movie_df['genre'] = movie_df['genre'].str.split(',').str[0]

C:\Users\leann\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
votes_df = movie_df[["country", "original_title", "year", "genre","avg_vote", "votes", "worlwide_gross_income"]]
votes_df

,country,original_title,year,genre,avg_vote,votes,worlwide_gross_income
0,Hungary,Bizalom,1980,Drama,7.6,607,$1
1,USA,The Heiress,1949,Drama,8.1,13301,$16
2,Argentina,Camino a La Paz,2015,Drama,7.0,625,$17
3,UK,Zombie Undead,2010,Horror,2.3,436,$17
4,China,Wo he ba ba,2003,Drama,6.8,157,$20
...,...,...,...,...,...,...,...
85848,Japan,Death Forest 4,2016,Horror,1.0,204,NaN
85849,Japan,"Bai bai, marâno",2013,Drama,1.0,193,NaN
85850,Japan,Utsuroi no hyôhonbako,2016,Comedy,1.0,176,NaN
85851,Japan,Ritoru Kyouta no bouken,2017,Adventure,1.0,144,NaN
85852,India,Prema Panjaram,1991,Drama,1.0,107,NaN

In [13]:
votes_df = votes_df.dropna(how='any').copy()

In [14]:
votes_df[votes_df.columns[6:]] = votes_df[votes_df.columns[6:]].replace('[\$,]', '', regex=True).astype(float)

In [16]:
votes_df.to_csv("votes_unfiltered(profit vs rating).csv", encoding="utf-8", index=False, header=True)

In [17]:
votes_df = votes_df.loc[votes_df["votes"] >= 2000]

In [18]:
votes_df

,country,original_title,year,genre,avg_vote,votes,worlwide_gross_income
1,USA,The Heiress,1949,Drama,8.1,13301,16.0
6,Germany,Inbred,2011,Comedy,5.2,4536,24.0
12,Sweden,ABBA: The Movie,1977,Comedy,6.5,2963,38.0
18,UK,My Days of Mercy,2017,Drama,6.4,2754,51.0
25,USA,400 Days,2015,Mystery,4.4,10018,58.0
...,...,...,...,...,...,...,...
31007,India,Premam,2015,Comedy,8.3,16224,600000000.0
31008,India,Gopala Gopala,2015,Comedy,7.3,3456,660100000.0
31011,India,Temper,2015,Action,7.4,5600,740300000.0
31012,India,Chandramukhi,2005,Action,7.1,4947,750000000.0
31013,India,Thegidi,2014,Crime,7.7,2295,76000000.0

In [19]:
votes_df.to_csv("votes_filtered(votes vs rating).csv", encoding="utf-8", index=False, header=True)