In [23]:
import pandas as pd
import numpy as np

In [24]:
movie_data = "IMDB movies.csv"
movie_df = pd.read_csv(movie_data)
del movie_df["title"]
del movie_df["Unnamed: 22"]
del movie_df["Over budget"]
movie_df['country'] = movie_df['country'].str.split(',').str[0]
movie_df['genre'] = movie_df['genre'].str.split(',').str[0]

C:\Users\leann\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
profit_budget_df = movie_df[["country", "original_title", "year", "genre","avg_vote", "votes", "budget", "worlwide_gross_income"]]
profit_budget_df

,country,original_title,year,genre,avg_vote,votes,budget,worlwide_gross_income
0,Hungary,Bizalom,1980,Drama,7.6,607,NaN,$1
1,USA,The Heiress,1949,Drama,8.1,13301,"$2,600,000",$16
2,Argentina,Camino a La Paz,2015,Drama,7.0,625,"$650,000",$17
3,UK,Zombie Undead,2010,Horror,2.3,436,NaN,$17
4,China,Wo he ba ba,2003,Drama,6.8,157,NaN,$20
...,...,...,...,...,...,...,...,...
85848,Japan,Death Forest 4,2016,Horror,1.0,204,NaN,NaN
85849,Japan,"Bai bai, marâno",2013,Drama,1.0,193,NaN,NaN
85850,Japan,Utsuroi no hyôhonbako,2016,Comedy,1.0,176,NaN,NaN
85851,Japan,Ritoru Kyouta no bouken,2017,Adventure,1.0,144,NaN,NaN
85852,India,Prema Panjaram,1991,Drama,1.0,107,NaN,NaN

In [26]:
profit_budget_df = profit_budget_df.dropna(how='any')
profit_budget_df[profit_budget_df.columns[6:]] = profit_budget_df[profit_budget_df.columns[6:]].replace('[\$,]', '', regex=True).astype(float)
profit_budget_df

C:\Users\leann\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,country,original_title,year,genre,avg_vote,votes,budget,worlwide_gross_income
1,USA,The Heiress,1949,Drama,8.1,13301,2600000.0,1.600000e+01
2,Argentina,Camino a La Paz,2015,Drama,7.0,625,650000.0,1.700000e+01
5,Germany,Eagle Hunter's Son,2009,Drama,6.4,129,1200000.0,2.300000e+01
6,Germany,Inbred,2011,Comedy,5.2,4536,1250000.0,2.400000e+01
8,USA,Zyzzyx Rd,2006,Crime,4.1,983,2000000.0,3.000000e+01
...,...,...,...,...,...,...,...,...
30950,USA,Avengers: Infinity War,2018,Action,8.4,796486,321000000.0,2.048360e+09
30951,USA,Star Wars: Episode VII - The Force Awakens,2015,Action,7.9,845102,245000000.0,2.068224e+09
30952,USA,Titanic,1997,Drama,7.8,1023181,200000000.0,2.195170e+09
30953,USA,Avatar,2009,Action,7.8,1101160,237000000.0,2.790439e+09
30954,USA,Avengers: Endgame,2019,Action,8.4,754786,356000000.0,2.797801e+09

In [27]:
profit_budget_df.to_csv("graph4-budget vs profit.csv", encoding="utf-8", index=False, header=True)